.root{
    width:500px; height:100%;
    border:1px solid black;
    margin:0 auto;
    padding:30px;
}
.root h2{text-align: center;}
.root .card{margin:30px 0;}
.root .card button{margin-left:10px;}
.root .d-flex{margin:30px 0;}