.nav{width:700px; margin:0 auto; }
.root { width:500px; height:100%; border:1px solid black;
        margin:50px auto; padding:20px; }
.root h2{text-align: center;}
.root .card{margin:30px 0 15px;}
.root button{margin:30px 10px 0;}
.root .mb-3{margin:40px 0;}





